################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/api/.vs
/api/Core/obj
/api/Core/bin
/api/Web/obj
/api/Web/bin
/api/Connectors/Sqlite/obj
/api/Connectors/Sqlite/bin
/api/Connectors/MsSql/obj
/api/Connectors/MsSql/bin
/api/Tests/Core/bin
/api/Tests/Core/obj
*.dll
*.cache
*.v2
/xl/.vs/uniya.xl
/xl/obj
/xl/src/bin/Debug/net6.0
/xl/src/obj
/xl/test/UnitTests/.vs/xlUnitTests
/xl/test/UnitTests/bin/Debug/net6.0
/xl/test/UnitTests/obj
Web/ClientApp/package-lock.json
Web/ClientApp/.env
Web/ClientApp/.env.development
