################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
uniya/.vs/Uniya.Web/v17/.suo
uniya/.vs/Uniya.Core/v17/.suo
/uniya/.vs
/uniya/Connectors/Bitrix24/bin/Debug/netcoreapp2.2
/uniya/Connectors/Bitrix24/obj
/uniya/Connectors/MsExchange/obj
/uniya/Connectors/SharePoint/bin/Debug/netcoreapp2.2
/uniya/Connectors/SharePoint/obj
/uniya/Connectors/Sqlite/obj
/uniya/Connectors/Sqlite/bin/Debug/netcoreapp2.2
/uniya/Connectors/Bitrix24/bin/Release/netcoreapp2.2
/uniya/Connectors/Sqlite/bin/Release/netcoreapp2.2
/uniya/Core/bin/Release/netcoreapp2.2
/uniya/Core/obj/Release/netcoreapp2.2
/uniya/Tests/Core/bin/Release/netcoreapp2.2
/uniya/Connectors/SharePoint/bin/Release/netcoreapp2.2
/uniya/Tests/Core/obj/Release/netcoreapp2.2
/uniya/Core/bin/Debug/netcoreapp2.2
/uniya/Core/obj
/uniya/Tests/Core/bin/Debug/netcoreapp2.2
/uniya/Tests/Core/obj/Debug/netcoreapp2.2
/uniya/Tests/Core/obj
/uniya/Connectors/MsExchange/bin/Debug/netcoreapp2.2
/uniya/Connectors/MsExchange/bin/Release/netcoreapp2.2
/uniya/Web/ClientApp/package-lock.json
/api/.vs
/api/Core/obj
/api/Core/bin
/api/Web/obj
/api/Web/bin
/api/Connectors/Sqlite/obj
/api/Connectors/Sqlite/bin
/api/Connectors/MsSql/obj
/api/Connectors/MsSql/bin
/api/Tests/Core/bin
/api/Tests/Core/obj
*.dll
*.cache
*.v2
/xl/.vs/uniya.xl
/xl/obj
/xl/src/bin/Debug/net6.0
/xl/src/obj
/xl/test/UnitTests/.vs/xlUnitTests
/xl/test/UnitTests/bin/Debug/net6.0
/xl/test/UnitTests/obj
Web/ClientApp/package-lock.json
Web/ClientApp/.env
Web/ClientApp/.env.development
