/.vs
Core/obj
Core/bin
Web/obj
Web/bin
Connectors/Sqlite/obj
Connectors/Sqlite/bin
Connectors/MsSql/obj
Connectors/MsSql/bin
Tests/Core/bin
Tests/Core/obj
*.dll
*.cache
*.v2
Web/ClientApp/package-lock.json
Web/ClientApp/.env
Web/ClientApp/.env.development
